<div class="wrapper">
  <div class="body-overlay"></div>
  {{> admin-sidebar}}
  <div id="content" class="bg-light">
    {{> admin-header}}
    <section class="px-lg-5 mx-lg-5">
      <div class=" mx-auto container-fluid shadow-sm rounded bg-white">
        {{!-- --}}
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom ">
          <h2 class="mr-md-auto font-weight-bold">Danh Mục Của Tôi</h2>
          <a class="my-4 btn btn-warning" href="/category/create"> <i class="fa-solid fa-pen-to-square pr-2"></i> Thêm
            Mới</a>
        </div>
        <br>
        {{!-- --}}
        <div class="table responsive" id="no-more-tables">
          <table class="table bg-white">
            <thead class="font-weight-bold">
              <tr class="text-center">
                <th>STT</th>
                <th>Tiêu Đề</th>
              </tr>
            </thead>
            <tbody>
              {{#each category}}
              <tr>
                <th class="text-center" scope="row">{{sum @index 1}}</th>
                <td class="text-center">{{this.name}}</td>
              </tr>
              {{else}}
              <tr class=" text-center">
                <td>Bạn chưa đăng bài viết nào.
                  <a href="/category/create">Thêm thể loại</a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </section>
    {{>footer}}
  </div>
</div>

