<footer class="footer">
  <div class="container">
    <div class="footer-inner py-4">
      <div class="row d-flex align-items-center my-4">
        <div class="col-md-4 py-4">
          <span class="copyright">&copy; 2022 HTC Blogs</span>
        </div>
        <div class="col-md-4 text-center py-4">
          <div class="social-icons list-unstyled list-inline mb-0">
            <div class="footer__social">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-telegram"></i></i></a>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 py-4">
          <a href="#" id="return-to-top" class="float-md-right">
            <i class="icon-arrow-up"></i>
            Lên đầu trang
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>